a {
  display: block;
  margin: 5px;
  font-size: large;
}
#content{
  font-size: 50px;
}
p div:hover {
  background-color: lightcyan;
  /* font-weight: bold; */
  /* font-size: larger; */
  /* box-shadow: 2px 2px 2px black; */
}
p div span:hover, span2:hover {
  box-shadow: 2px 2px 2px black;
  background-color: white;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
}
button{
  margin-left:10px;
  border-radius: 50%;
}

icon{
  font-size: x-large;
}
