a {
  display: block;
  margin: 5px;
  font-size: large;
}
#content{
  font-size: x-large;
}
div:hover {
  background-color: lightcyan;
  font-weight: bold;
  /* font-size: larger; */
  /* box-shadow: 2px 2px 2px black; */
}
